{
  "tabWidth": 4,
  "useTabs": false,
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "singleQuote": true,
  "semi": false,
  "quoteProps": "as-needed",
  "printWidth": 120,
  "trailingComma": "none",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^[./].*\\.css",
    "^[./]"
  ],
  "importOrderSeparation": true
}